<div class="whatsapp-area">
  <div class="whatsapp-popup fadeOut">
      <div class="header"> <button type="button" class="close-popup"><img class="" style="width:25px;" src="wp-includes/images/cancel.png" alt=""></button>
          <h2>Need help?</h2>
          <p>Contact us by whatsapp</p>
      </div>
      <div class="chat-area"> 
          <p>If any doubt prize and conditions contact us</p>
      </div>
      <form class="form-area" id="form-area"> <input class="whats-input" type="text" id="whats-in"
        Placeholder="Send Your Message..." /> <button type="submit" class="send-btn"></button> </form>
  </div>
  <!--popup ends!-->
  <!--button-->
  <div class="chat-button-area zoomOut"> <button type="button" id="whatsapp-btn" class="whatsapp-btn"><img class="img-fluid" src="/assets/wp-includes/images/download.png" alt=""> </button>
      <div class="circle-animation"></div>
  </div>

</div> 
 
<footer class="footer block-cat-footer block-footer1 bg-primary section-40 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center text-md-left">
                <a  style="text-decoration: none;"href="index.html">
        <div class='textlogo navbar-brand-light'><i class='fal fa-shopping-bag ml-2'></i> <span>Snapdeal</span> Company</div>  
            </a>
        
     
              </div>
              
</div>
               
    <div class="row px-0">
      <div class="col-md-4">
        <div class="copyright opacity-8 text-left">
                &copy; 2020 snapdealcompany<br> All rights reserved. </div>
            
      </div>
      
      <div class="col-md-4" >
        <form action="https://api.whatsapp.com/send?phone=917603062051&text=&source=&data=&app_absent=" method="post" type="post" name="myForm"class="d-lg-none  text-center">

          <div class="open-button"> <button  
class="whatsapp-btn" style="border-radius: 30px; background-color:green"><img class="img-fluid" style="margin-top: -7px;
border-radius: 50px;" src="/assets/wp-includes/images/download.png" alt=""> </button>
            
        </div>
        </form>
      </div>
      <div class="col-md-4 text-center ">
        <div>
          <h4>Contact us</h4>
          <span> +91-7603062051,
          </span><br>
          <span>18005721310</span><br>
          <span>infosnapdealonlineshopping@gmail.com</span>
        </div>
        <img data-src="/assets/wp-includes/images/cards-all1.png" alt="cards" class="lazy" />
        </div><br>
       </div>
    </div>
  </div>
</footer>